@using mm.Models
@model BreakfastsView

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
<div>
    @using (Html.BeginForm())
    {
        <table>
            @foreach (var breakfast in Model.Breakfasts)
            {
               var disabled =breakfast.When < DateTime.Now ? " disabled " : ""; 
                <tr class="b">
                    @if (breakfast.Skipped)
                    {
                        <td>
                            <h3>@breakfast.When</h3>
                        </td>
                        <td>
                            <h3>Skipped</h3>
                        </td>
                    }
                    else
                    {
                        <td><h3>@breakfast.When.ToString("dd-MMM")</h3></td>
                        <td>
                            @if (breakfast.Giving != null)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(breakfast.Giving, Participation.Buying)" class="btn btn-primary">@breakfast.Giving.UserId</button>
                            }
                            @foreach (var p in breakfast.Participating)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(p,Participation.Participating)" class="btn btn-success">@p.UserId</button>
                            }
                            @foreach (var p in breakfast.NotParticipating)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(p,Participation.NotParticipating)" class="btn btn-danger">@p.UserId</button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    }
</div>
