@using mm.Models
@model BreakfastsView

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
<div>
    @using (Html.BeginForm())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Buying</th>
                    <th>Participating</th>
                    <th>OOO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var breakfast in Model.Breakfasts)
                {
                    var disabled = breakfast.When < DateTime.Now ? " disabled " : "";

                    <tr>
                        <td><b>@breakfast.When.ToString("dd-MMM")</b></td>
                        <td>
                            @if (breakfast.Buying != null)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(breakfast.Buying, Participation.Buying)" class="btn btn-sm btn-primary">@breakfast.Buying.UserId</button>
                            }
                        </td>
                        <td>
                            @foreach (var p in breakfast.Participating)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(p, Participation.Participating)" class="btn btn-sm btn-success">@p.UserId</button>
                            }
                        </td>
                        <td>
                            @foreach (var p in breakfast.NotParticipating)
                            {
                                <button @disabled type="submit" name="submit" value="@breakfast.CreateClickId(p, Participation.NotParticipating)" class="btn btn-sm btn-danger">@p.UserId</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
</div>
