@using mm.Models
@model BreakfastsView

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Buying</th>
                <th>Participating</th>
                <th>OOO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var breakfast in Model.Breakfasts)
            {
                var disabled = breakfast.When < DateTime.Now ? " disabled " : "";

                <tr>
                    <td><b>@breakfast.When.ToLocalTime().ToString("dd-MMM")</b></td>
                    <td>
                        
                        @if (breakfast.Buying != null)
                        {
                            var buyerClass = breakfast.BuyerStatus == Participation.Buying ? " btn-primary " : "btn-warning ";
                            <div class="dropdown">
                                <button class="btn btn-sm @buyerClass dropdown-toggle @disabled" type="button" data-toggle="dropdown">
                                    @breakfast.Buying.Name
                                    
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@breakfast.GenChangeLink(breakfast.Buying, Participation.Buying)">@breakfast.Buying.Name is OOO</a></li>
                                    @foreach (var p in breakfast.Participating)
                                    {
                                        <li><a href="@breakfast.GenChangeLink(p, Participation.Override)">@p.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </td>
                    <td>
                        @foreach (var p in breakfast.Participating)
                        {
                            <a href="@breakfast.GenChangeLink(p, Participation.Participating)" class="btn btn-sm btn-success @disabled" role="button">@p.Name</a>
                        }
                    </td>
                    <td>
                        @foreach (var p in breakfast.NotParticipating)
                        {
                            <a href="@breakfast.GenChangeLink(p, Participation.NotParticipating)" class="btn btn-sm btn-danger @disabled" role="button">@p.Name</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
