@using mm.Models
@model BreakfastsView

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
<div>
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error</strong> @Model.ErrorMessage
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Buying</th>
                <th>Participating</th>
                <th>OOO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var breakfast in Model.Breakfasts)
            {
                var disabled = breakfast.When < DateTime.Now ? " disabled " : "";
                var hightlight = breakfast.IsNext ? "success" : "";

                <tr class="@hightlight">

                    <td><b>@breakfast.When.ToLocalTime().ToString("dd-MMM")</b></td>
                    <td>

                        @if (breakfast.Buying != null)
                        {
                            var buyerClass = breakfast.BuyerStatus == Participation.Buying ? " btn-primary " : "btn-warning ";
                            <div class="dropdown">
                                <button class="btn btn-sm @buyerClass dropdown-toggle @disabled" type="button" data-toggle="dropdown">
                                    @breakfast.Buying.Name
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink($"{breakfast.Buying.Name} is OOO", "ChangeStatus", "Home", routeValues: breakfast.RouteValue(breakfast.Buying, Participation.Buying))</li>
                                @foreach (var p in breakfast.Participating)
                                {
                                    <li>@Html.ActionLink(p.Name, "ChangeStatus", "Home", routeValues: breakfast.RouteValue(p, Participation.Override))</li>
                                }
                            </ul>
                        </div>
                        }
                    </td>
                    <td>
                        @foreach (var p in breakfast.Participating)
                        {
                            @Html.ActionLink(p.Name, "ChangeStatus", "Home", routeValues: breakfast.RouteValue(p, Participation.Participating), htmlAttributes: new { @class = $"btn btn-sm btn-success {disabled}", @role = "button" })
                        }
                    </td>
                    <td>
                        @foreach (var p in breakfast.NotParticipating)
                        {
                            @Html.ActionLink(p.Name, "ChangeStatus", "Home", routeValues: breakfast.RouteValue(p, Participation.NotParticipating), htmlAttributes: new { @class = $"btn btn-sm btn-danger {disabled}", @role = "button" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
